{% comment %}
  Renders an image card

  Accepts:
  - card_image: {Object} Image Liquid object
  - label: {String} Label
  - url: {String} URL
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
  - wrapper_class: {String} Wrapper class for card (optional)

  Usage:
  {% render 'card-image' %}
{% endcomment %}

<div class="collage-card animate-arrow {% if wrapper_class and wrapper_class != 'none' %}{{ wrapper_class }}{% endif %} {% if section.settings.card_styles == 'none' %}global-media-settings{% else %}card-wrapper{% endif %}">
  <div class="{% if card_image != blank %}card{% endif %}card--standard card--text {% if extend_height %}card--extend-height{% endif %}">
    <div class="{% if label != blank %}card__inner{% endif %}">
      <div
        class="media media--transparent ratio"
        {% if card_image != blank %}
          style="--ratio-percent: {{ 1 | divided_by: card_image.aspect_ratio | times: 100 }}%"
        {% else %}
          style="--ratio-percent: 100%"
        {% endif %}
      >
        {%- if url -%}
          <a href="{{ url }}" class="full-unstyled-link">
        {%- endif -%}
        {%- if card_image != blank -%}
          {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {% if section.blocks.size == 1 %}calc({{ settings.page_width }}px - 100px){% else %}{{ settings.page_width | minus: 100 | times: 0.67 | round }}px{% endif %}, (min-width: 750px){% if section.blocks.size == 1 %} calc(100vw - 100px){% else %} 500px{% endif %}, calc(100vw - 30px){%- endcapture -%}
          {{
            card_image
            | image_url: width: 3000
            | image_tag: loading: 'lazy', sizes: sizes, widths: '550, 720, 990, 1100, 1500, 2200, 3000'
          }}
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
        {%- endif -%}
        {%- if url -%}
          </a>
        {%- endif -%}
      </div>
    </div>
    {%- if label != blank -%}
    <div class="card__content">
      <div class="card__information">
        <div class="card-information">
        {%- if url -%}
          <a href="{{ card_collection.url }}" class="full-unstyled-link">
            {{ label }}<span class="icon-wrap">{% render 'icon-arrow' %}</span>
          </a>
        {%- else -%}
          {{ label }}
        {%- endif -%}
        </div>
      </div>
    </div>
    {%- endif -%}
  </div>
</div>
