{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="testimonials color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="page-width center">
    {%- if section.settings.heading != blank -%}
      <h2 class="h1">{{ section.settings.heading | escape }}</h2>
    {%- endif -%}
    {%- if section.settings.subheading != blank -%}
      <div>
        <span>{{ section.settings.subheading | escape }}</span>
      </div>
    {%- endif -%}
  </div>

  <slideshow-component class="slider-mobile-gutter" role="region" aria-roledescription="{{ 'sections.slideshow.carousel' | t }}" aria-label="Testimonials slideshow">
    {%- if section.settings.auto_rotate and blogs.testimonials.articles_count > 1 -%}
      <div class="slideshow__controls slideshow__controls--top slider-buttons no-js-hidden">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
        <div class="slider-counter slider-counter--counter">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ blogs.testimonials.articles_count }}</span>
        </div>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'sections.slideshow.next_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
  
        {%- if section.settings.auto_rotate -%}
          <button type="button" class="slideshow__autoplay slider-button no-js-hidden{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}" aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}">
            {%- render 'icon-pause' -%}
            {%- render 'icon-play' -%}
          </button>
        {%- endif -%}
      </div>
      <noscript>
        <div class="slider-buttons">
          <div class="slider-counter">
            {%- for article in blogs.testimonials.articles -%}
              <a href="#Slide-{{ section.id }}-{{ forloop.index }}" class="slider-counter__link link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}">
                {{ forloop.index }}
              </a>
            {%- endfor -%}
          </div>
        </div>
      </noscript>
    {%- endif -%}
  
    <div class="slideshow banner banner--small grid grid--1-col slider slider--everywhere"
      id="Slider-{{ section.id }}"
      aria-live="polite"
      aria-atomic="true"
      data-autoplay="{{ section.settings.auto_rotate }}"
      data-speed="{{ section.settings.change_slides_speed }}"
    >
      {%- for article in blogs.testimonials.articles -%}
        <div class="slideshow__slide grid__item grid--1-col slider__slide"
          id="Slide-{{ section.id }}-{{ forloop.index }}"
          role="group"
          aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
          aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
          tabindex="-1"
        >
          <div class="slideshow__text-wrapper banner__content banner__content--middle-center page-width">
            <div class="slideshow__text banner__box content-container content-container--full-width-mobile  gradient slideshow__text--center slideshow__text-mobile--center">
              {{- article.title -}}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  
    {%- if blogs.testimonials.articles_count > 1 and section.settings.auto_rotate == false -%}
      <div class="slideshow__controls slider-buttons no-js-hidden">
        <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
        <div class="slider-counter slider-counter--counter">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ blogs.testimonials.articles_count }}</span>
        </div>
        <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'sections.slideshow.next_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
  
        {%- if section.settings.auto_rotate -%}
          <button type="button" class="slideshow__autoplay slider-button no-js-hidden{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}" aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}">
            {%- render 'icon-pause' -%}
            {%- render 'icon-play' -%}
          </button>
        {%- endif -%}
      </div>
      <noscript>
        <div class="slider-buttons">
          <div class="slider-counter">
            {%- for article in blogs.testimonials.articles -%}
              <a href="#Slide-{{ section.id }}-{{ forloop.index }}" class="slider-counter__link link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}">
                {{ forloop.index }}
              </a>
            {%- endfor -%}
          </div>
        </div>
      </noscript>
    {%- endif -%}
  </slideshow-component>
</section>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Our Customers!",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "We service numerous clients with promotional needs, and here is what they are saying:",
      "label": "Subheading"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.slideshow.blocks.slide.settings.color_scheme.info"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
